:root {
  --gray-main: #707070;
  --gray-paragraph: #888888;
  --white-main: #FFFFFF;

  font-size: 62.5%;
}

body {
  width: 100vw;
  margin-inline: auto;
}

#products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
}