* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-main: #707070;
  --gray-paragraph: #888888;
  --white-main: #FFFFFF;

  font-size: 62.5%;
}

body {
  width: 100vw;
  margin-inline: auto;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  
}
li {
  list-style: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

.wrapper {
  width: 42rem;
  margin-inline: 1.8rem;
}

#products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;

  gap: 2rem;
}

#share {
  padding-top: 12.9rem;
  padding-bottom: 9.5rem;
}

#share h3 {
  padding-bottom: 2.8rem;
}

#share header {
  text-align: center;
}

