* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-main: #707070;
  --gray-paragraph: #888888;
  --white-main: #FFFFFF;

  font-size: 62.5%;
}

body {
  top: 0;
  margin-left: 5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  color: var(--gray-paragraph);
}

h1, 
h2, 
h3, 
h4, 
h5 {
  font-weight: normal;
}

li {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  text-align: left;
  font-size: 1.2rem;
  line-height: 175%;

}

.bg-top {
  width: 45.6rem;
  height: 39.7rem;
  background-color: var(--gray-main);
  position: absolute;
  z-index: -1;
}
.bg-top::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -39rem;
  left: -33rem;
  width: 80rem;
  height: 48rem;
  transform: rotate(13deg);
  background-color: var(--white-main)
}

.wrapper {
  top: 0;
  
  width: 42rem;
  margin-inline: 1.8rem;
  position: absolute;
  z-index: 100;

  color: var(--gray-paragraph);
}

#header-top {
  padding-block: 6.6rem;
  color: var(--white-main);
}

#header-top h1 {
  padding-bottom: .9rem;
}

#header-top h5 {
  padding-bottom: 5.6rem;
  width: 37rem;
}

#navigation ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin-left: 3.8rem;
  gap: 2rem;
}

#navigation button {
  width: 16rem;
  height: 4rem;

  background-color: var(--white-main);
  border: 1px solid var(--gray-main);
  border-radius: .4rem;
  
  color: var(--gray-paragraph);
}

main header h2 {
  padding-bottom: 1.7rem;
}

main .content {
  padding-bottom: 3rem;
}

.input-text input {
  width: 100%;
  height: 3rem;
  border: 1px solid #707070;
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

.input-radio {
  display: flex;
  flex-direction: row;

  align-content: center;
  
  gap: 4rem;
}

.input-radio input {
  vertical-align: middle;
  margin-right: .5rem;
}

main button {
  width: 38.3rem;
  height: 3.9rem;
  margin: 2rem 1.9rem 10.1rem;

  border: 1px solid var(--gray-main);
  border-radius: 0.4rem;
}

span {
  width: 25%;
  border: 1px solid var(--gray-paragraph);
}

#products header {
  display: flex;
  
  align-items: center;
  
  justify-content: center;
}

#products header h3 {
 padding-inline: 1.7rem;
 
}

#products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;

  margin-top: 2.3rem;
}

.product-data {
  margin-left: 2.3rem;
}

.product-data h5 {
  margin-bottom: 1.3rem;
}

.product-data h4 {
  font-weight: bold;
  padding-block: 0.6rem;
}

.btn-comprar {
  width: 20rem;
  height: 3rem;

  background-color: var(--white-main);
  border: 1px solid var(--gray-main);
  border-radius: .4rem;
  
  color: var(--gray-paragraph);
}

.product-button {
  text-align: center;
  margin-top: 5.6rem;
}

#more-products {
  width: 26rem;
  height: 4rem;

  background-color: var(--white-main);
  border: 1px solid var(--gray-main);
  border-radius: .4rem;
  
  color: var(--gray-paragraph);
  
}

#products img {
  border: 1px solid var(--gray-main);
  padding-inline: 2rem;
  margin-bottom: 3rem;
}

#share {
  padding-top: 12.9rem;
  padding-bottom: 9.5rem;
}

#share h3 {
  padding-bottom: 2.8rem;
}

#share header {
  text-align: center;
}

